.wallets{
    @include wallets;
    
    &__heading{
        display: flex;
        gap: 87px;
        margin-bottom: 15px;

        h3{
            margin: 0;
            font-weight: 400;
        }

        img{
            margin: 0;
        }
    }

    &__list{
        li{
            width: 220px;
            padding: 20px 10px 15px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid $primary-color-gray;
            margin-top: 30px;
            cursor: pointer;
        }

        li:hover{
            border: 1px solid $primary-color-blue;
        }
    }
}